@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&display=swap');

body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit',sans-serif;
}
.card{
    background: #ffffff;
    align-content: center;
    justify-content: center;
    width: 20vw;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px;
    border-radius: 1.2rem;
    box-shadow: 0px 2px 30px hsla(213, 20%, 78%, 0.795);
}
.qr-code{
    width: 20vw;
    border-radius: 10px;
    height: 288px;
}
.title{
    text-align: center;
    font-size: 1.4em;
    padding:6px 15px;
    color: hsl(218, 44%, 22%);
}
.subtitle{
    color: hsl(220, 15%, 55%);
    font-size: 15.5px;
    text-align: center;
    padding: 0px .9rem 8px;  
    margin-top: -7px;
}
.attribution{
    position: absolute;
    top: 85%;
}
.attribution a{
    color:#800080
}
.attribution a:visited{
    color: #8a2be2;
}
@media (max-width:500px){
    .card{
        width: 75%;
    }
    .title{
        font-size: 20px;
    }
    .attribution{
        top: 89%;
    }
    .qr-code{
        width:100%  ;
    }
}